################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Snoopy.TimeSeries.SampleSniffer/.vs/Snoopy.TimeSeries.SampleSniffer/FileContentIndex
